/* For WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #8889; /* Color of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar thumb on hover */
}
